body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url("./images/maxim-berg-lnvpji4fC3c-unsplash.jpg");
    background-size: cover;
    color: rgb(255, 255, 255);

}

/* Style the links inside the navigation bar */
.topbar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;

}

/* Change the color of links on hover */
.topbar a:hover {
    color: black;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);

}

/* Add a color to the active/current link */
.topbar a.active {
    color: rgb(65, 65, 65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}


div.topbar {
    text-align: right;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    overflow: hidden;
    display: flex;
    justify-content: center;
}


.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}


div#loginsection {
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    align-items: center;

}

button#leavelogin {
    display: flex;
    position: absolute;
    z-index: 9999;
    right: 8em;
    top: 7em;
}

div.logincontainer {
    padding: 20px;
}

button#submit {
    display: block;
}

label {
    display: block;

}

img#login {
    width: 550px;
    height: fit-content;
}

div#section1 {
    margin-top: 5%;
    display: block;
}

div#logotxt{
    display: flex;
    float:left;
    margin: 4em;
}

div#textcontainer{
    margin-left: 8em;
}

input{

    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(12.5px);
    -webkit-backdrop-filter: blur(12.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    width: 200px;
    height: 30px;
}